{{extend name="public/base"}}

{{block name="main"}}
<h2 class="page-header">博客列表</h2>
<div class="row table-responsive">
	<table class="table table-condensed table-hover table-bordered table-striped">
		<tr>
			<th>ID</th>
			<th>作者</th>
			<th>标题</th>
			<th>浏览量</th>
			<th>创建时间</th>
			<th>操作菜单</th>
		</tr>
		{{volist name="list" id="vo"}}
		<tr>
			<td>{{$vo.id}}</td>
			<td>{{$vo->author->username}}</td>
			<td>{{$vo.title}}</td>
			<td>{{$vo.views}}</td>
			<td>{{$vo.created}}</td>
			<td>
				<a href="{{:url('index/blog/view',['id' => $vo.id])}}" class="btn btn-success" target="_blank">查看</a>
				<a href="{{:url('ni/blog/edit',['id'=>$vo.id])}}" class="btn btn-primary">编辑</a>
				<a href="{{:url('ni/blog/delete',['id'=>$vo.id])}}" class="btn btn-danger">删除</a>
			</td>
		</tr>
		{{/volist}}
		
	</table>
	{{$list->render()}}
</div>
{{/block}}